#root {
  margin: 0 auto;
}

.site-header {
  background-color: black;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 1fr;
}

.logo-container {
  text-align: center;
}

.heading {
  color: white;
  margin-block-end: 0;
}

.subheading {
  color: white;
}

.navbar-list {
  list-style-type: none;
}

.navbar-list-item {
  display: inline-block;  
}

.navbar-list-item:nth-child(2), .navbar-list-item:nth-child(3) {
  margin-inline-start: 4rem;
}

.icons-section {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;
  place-items: center;
  margin-block: 2rem;
  margin-inline: 0;
}

.icon-container {
  margin-block: 2rem;
  margin-inline: 2rem;
  height: 15rem;
  width: 15rem;
  text-align: center;
  border-radius: 50%;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (min-width: 768px) {
  .site-header {
    grid-template-columns: 0.25fr 1.5fr;
  }

  .icons-section {
    grid-template-columns: 1fr 1fr;
    margin-block: 10rem;
    margin-inline: 16rem;
  }
}
